body {
    font-family: my-font-regular, Calibri, Arial, sans-serif;
    color: #242a30;
    background: #FFFFFF;
    font-size: 14px;
	/* text-transform: lowercase; */
}

/*	HELPER	*/
.text-theme,
a{
	color:#ff5b57;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}

a:hover, a:focus {
    color: #cc4946;
}

.bg-purple {
    background: #727cb6!important;
}

.bg-blue {
    background: #348fe2!important;
}

.bg-green {
    background: #00acac!important;
}

.bg-orange {
    background: #f59c1a!important;
}

.bg-red {
    background: #ff5b57!important;
}

.text-proper{
	text-transform: initial;
}

label{
	font-family:my-font-bold;
}


/*	NAVBAR	*/
.navbar-default {
	margin-bottom:0;
    background-color: transparent;
    border:0;
}

.navbar-nav>li>a{
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #ff5b57;
    background-color: transparent;
}

.navbar-small {
    background: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}

.content {
    padding: 60px 15px 75px;
}

.content.has-bg {
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
}

.content.has-bg h1, .content.has-bg h2, .content.has-bg h3, .content.has-bg h4, .content.has-bg h5, .content.has-bg h6 {
    color: #fff;
	margin: 0 0 30px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.content-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content.has-bg .content-bg:before{
    content: '';
    background: url(../../img/content-bg-cover.png);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.content.has-bg .content-bg img {
    /* max-width: 100%; */
}

.content.has-bg .container {
    position: relative;
}

.home-content {
    z-index: 1020;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #8F8E8E;
    margin-top: -120px;
    padding: 0 15px;
    text-align: center;
}

.home-content h1 {
    font-size: 72px;
    font-family: my-font-light;
	letter-spacing:2px;
}
.home-content h3 {
    font-size: 32px;
	font-family: my-font-light;
}

.content .content-title {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;
    margin-top: 0;
}

.content .content-title:after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    background: #242a30;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
}

.content .content-sub-title {
    text-align: center;
    margin-bottom: 60px;
	font-size: 16px;
    font-family: my-font-light;
	color:#555;
}


/*	BUTTONS	*/
.btn {
    padding: 15px 30px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


.btn.btn-theme {
    background: #ff5b57;
    border-color: #ff5b57;
    color: #fff;
}

.btn.btn-theme:hover, 
.btn.btn-theme:focus {
    background: #008a8a;
    border-color: #008a8a;
}


/*	MILESTONE	*/
.milestone-col+.milestone-col {
    border-left: 1px solid rgba(255,255,255,.2);
}

.milestone {
    text-align: center;
}

.milestone .number {
    font-size: 42px;
    color: #fff;
    font-family: my-font-light;
}

.milestone .title {
    color: #8F8E8E;
}

/*	FOOTER	*/
.footer {
    padding: 60px 0;
    background: #242a30;
    text-align: center;
    box-shadow: inset 0 100px 80px -80px rgba(0,0,0,.7);
    -webkit-box-shadow: inset 0 100px 80px -80px rgba(0,0,0,.7);
}

.footer .footer-brand {
    font-size: 30px;
    color: #fff;
    font-family: my-font-light;
}


.footer .social-list {
    margin: 30px 0;
    font-size: 20px;
}

.footer .credit{
	color:#FFF;
}

.theme-panel {
    position: fixed;
    right: -180px;
    top: 200px;
    z-index: 1020;
    box-shadow: 0 0 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.4);
    width: 180px;
    -webkit-transition: right .2s linear;
    -moz-transition: right .2s linear;
    transition: right .2s linear;
}

.theme-panel.active {
    right: 0;
}

.theme-panel .theme-collapse-btn {
    position: absolute;
    left: -40px;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #000;
    background: #eee;
    text-align: center;
    box-shadow: 0 0 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.4);
}

.theme-panel .theme-panel-content {
    padding: 5px;
    background: #fff;
    position: relative;
    z-index: 1020;
}

.theme-panel .theme-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.theme-panel .theme-list>li {
    float: left;
}

.theme-panel .theme-list>li+li {
    margin-left: 5px;
}

.theme-panel .theme-list>li>a {
    width: 30px;
    height: 30px;
    display: block;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    position: relative;
}


/*	PROGRESS BAR	*/
.progress{
	border-radius:10px;
}

.progress-bar-theme{
	background-color: #ff5b57;
}